name: Auto Update

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-slim

    steps:
    - name: Chekcout source
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Update
      run: |
        export ROOTDIR="$(pwd)"
        export DIR="$(cd "$( dirname "${BASH_SOURCE[0]}" )" &> /dev/null && pwd)"
        cd "$DIR"
        rm -rf "$DIR/vim-go"
        rm -rf "$DIR/syntax"
        rm -rf "$DIR/ftdetect"
        rm -rf "$DIR/autoload"
        rm -rf "$DIR/indent"

        git clone https://github.com/fatih/vim-go vim-go

        mkdir -vp "$ROOTDIR/syntax/"
        mkdir -vp "$ROOTDIR/ftdetect/"
        mkdir -vp "$ROOTDIR/autoload/go"
        mkdir -vp "$ROOTDIR/indent/"

        cp -v "$DIR"/vim-go/ftdetect/* "$ROOTDIR/ftdetect/"
        cp -v "$DIR"/vim-go/syntax/* "$ROOTDIR/syntax/"
        cp -v "$DIR"/vim-go/indent/* "$ROOTDIR/indent/"

        export AUTOLOADS="config path util"
        for FILE in $AUTOLOADS
        do
          cp -v "$DIR/vim-go/autoload/go/$FILE.vim" "$ROOTDIR/autoload/go/"
        done

        rm -rf "$DIR/vim-go"
        CHANGES=$(git status -s | grep -v .github | wc -l)
        if [[ $CHANGES -gt 0 ]]; then
          echo "[INFO] CHANGES = $CHANGES"
          echo 'CHANGES=yes' >> "$GITHUB_ENV"
        fi

    - name: Push to master
      if: ${{ env.CHANGES == 'yes' }}
      run: |
        git config user.name "github-actions"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git add -A
        git commit -am "Apply vim-go changes $(date +'%Y-%m-%d')"
        git push
